*{
    margin: 0;
    padding: 0;
}

.contC {
    position: relative;
    height: 100vh;
}

.contR {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 6vh;
    font-weight: bold;
}

body{
    background-color: #e84388;
    color: white;
}

