*{
    margin: 0;
    padding: 0;
}

.contC {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.contR{
    position:absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    font-size: min(6vh,6vw);
    font-weight: bold;
}


body{
    background-color: #e84388;
    color: white;
    /* background-image: url(logo2.jpg); */
}

